
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>Jinja2 &mdash; Aura Dev documentation</title>
    
    <link rel="stylesheet" href="../_static/jinja.css" type="text/css" />
    <link rel="stylesheet" href="../_static/pygments.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../',
        VERSION:     'Dev',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../_static/jquery.js"></script>
    <script type="text/javascript" src="../_static/underscore.js"></script>
    <script type="text/javascript" src="../_static/doctools.js"></script>
    <link rel="top" title="Aura Dev documentation" href="../index.html" /> 
  </head>
  <body>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../genindex.html" title="General Index"
             accesskey="I">index</a></li>
        <li class="right" >
          <a href="../py-modindex.html" title="Python Module Index"
             >modules</a> |</li>
        <li><a href="../index.html">Aura Dev documentation</a> &raquo;</li> 
      </ul>
    </div>  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            
  <div class="section" id="jinja2">
<h1>Jinja2<a class="headerlink" href="#jinja2" title="Permalink to this headline">¶</a></h1>
<p>Jinja2 is a template engine written in pure Python.  It provides a
<a class="reference external" href="http://www.djangoproject.com/">Django</a> inspired non-XML syntax but supports inline expressions and
an optional <a class="reference external" href="http://en.wikipedia.org/wiki/Sandbox_(computer_security)">sandboxed</a> environment.</p>
<div class="section" id="nutshell">
<h2>Nutshell<a class="headerlink" href="#nutshell" title="Permalink to this headline">¶</a></h2>
<p>Here a small example of a Jinja template:</p>
<div class="highlight-python"><pre>{% extends 'base.html' %}
{% block title %}Memberlist{% endblock %}
{% block content %}
  &lt;ul&gt;
  {% for user in users %}
    &lt;li&gt;&lt;a href="{{ user.url }}"&gt;{{ user.username }}&lt;/a&gt;&lt;/li&gt;
  {% endfor %}
  &lt;/ul&gt;
{% endblock %}</pre>
</div>
</div>
<div class="section" id="philosophy">
<h2>Philosophy<a class="headerlink" href="#philosophy" title="Permalink to this headline">¶</a></h2>
<p>Application logic is for the controller but don&#8217;t try to make the life
for the template designer too hard by giving him too few functionality.</p>
<p>For more informations visit the new <a class="reference external" href="http://jinja.pocoo.org/">Jinja2 webpage</a> and <a class="reference external" href="http://jinja.pocoo.org/2/documentation/">documentation</a>.</p>
<p>The <a class="reference external" href="http://dev.pocoo.org/hg/jinja2-main/archive/tip.tar.gz#egg=Jinja2-dev">Jinja2 tip</a> is installable via <cite>easy_install</cite> with <tt class="docutils literal"><span class="pre">easy_install</span>
<span class="pre">Jinja2==dev</span></tt>.</p>
</div>
</div>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar">
        <div class="sphinxsidebarwrapper"><p class="logo"><a href="../index.html">
  <img class="logo" src="../_static/aura-small.png" alt="Logo"/>
</a></p>
  <h3><a href="../index.html">Table Of Contents</a></h3>
  <ul>
<li><a class="reference internal" href="#">Jinja2</a><ul>
<li><a class="reference internal" href="#nutshell">Nutshell</a></li>
<li><a class="reference internal" href="#philosophy">Philosophy</a></li>
</ul>
</li>
</ul>
<h3>Related Topics</h3>
<ul>
  <li><a href="../index.html">Documentation overview</a><ul>
  </ul></li>
</ul>
  <h3>This Page</h3>
  <ul class="this-page-menu">
    <li><a href="../_sources/jinja2/README.txt"
           rel="nofollow">Show Source</a></li>
  </ul>
<div id="searchbox" style="display: none">
  <h3>Quick search</h3>
    <form class="search" action="../search.html" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    <p class="searchtip" style="font-size: 90%">
    Enter search terms or a module, class or function name.
    </p>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="footer">
      &copy; Copyright 2013, Aura Team.
      Created using <a href="http://sphinx.pocoo.org/">Sphinx</a>.
    </div>
  </body>
</html>